<nav #nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">Tasks</a>

    <button class="navbar-toggler ml-2" type="button" (click)="nav.show = !nav.show">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="!nav.show">
        <a class="btn btn-danger ml-auto mr-2" [routerLink]="['/create']">Create</a>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>

<router-outlet></router-outlet>
